.carrossel-atores{
    margin-top: 1%;
    z-index: 7;
}
.carrossel-atores h3{
    margin-top: 1%;
    text-align: center;
    font: bold;
    color: black;
}

.carrossel-atores .info{
    color: black;
    margin-left: 10px;
}

.carrossel-atores .item img{
    border-radius: 10px;
    transform: scale(0.9);
    transition: .2s ease all;
}

.carrossel-atores .item img:hover{
    cursor: pointer;
    transform: scale(1);
}
.diretor{
    z-index: 8;
    width: 20%;
    background-color: white;
    height: 65%;
    position: absolute;
    padding-top: 40px;
}
.diretor img{
    border-radius: 10px;
    width: 75%;
    position: absolute;
    display: flex;
    align-content: flex-end;
}
.info-diretor{
    padding-bottom: 5px;
    background-color: white;
    color: black;
    transform: translateY(390px);
}