@media (max-width: 600px) {
    
    main .principal {
        height: 80vh;
    }

    main .principal .container{
        margin-left: 2%;
        font-size: 12px;
        width: 95%;
        height: 80%;
    }
    
    main .principal .container .capa{
        width: 60%;
    }

    main .principal .container .play{
        margin-top: 20%;
        text-align: center;
    }

    header{
        height: 7vh;
        justify-content: center;
    }

    header nav a{
        margin-right: 4px;
        font-size: 10px;
    }

    .carrossel-atores .info{
        font-size: 12px;
    }
    
    .box_img img {
        margin-left: 3px;
        width: 55%;
    }

    .diretor{
        height: 45%;
    }

    .diretor img{
        border-radius: 10px;
        width: 90%;
        position: absolute;
    }
    .info-diretor{
        padding-bottom: 5px;
        background-color: white;
        color: black;
        transform: translateY(150px);
    }

    .elenco-completo{
        padding: 50px 0px 50px 30px!important;
    }
    
    .elenco-completo label{
        margin-left: 20px!important;
    }

    .trailer{
        width: 100%;
        height: 500px;
        display: flex;
        margin: 0 auto;
        border-radius: 10px;
    }
}